/userGUIprogram/HouseDataMonitorSystem/nbproject/private/**
/userGUIprogram/HouseDataMonitorSystem/build/**
/userGUIprogram/HouseDataMonitorSystem/dist/**
/deviceProgram/HouseDataMonitor-DataIO/nbproject/private/**
/deviceProgram/HouseDataMonitor-DataIO/build/**
/deviceProgram/HouseDataMonitor-DataIO/dist/**
