HouseTemperatureControlSystem/userGUIprogram/HouseDataMonitorSystem/nbproject/private/
HouseTemperatureControlSystem/userGUIprogram/HouseDataMonitorSystem/build/
HouseTemperatureControlSystem/userGUIprogram/HouseDataMonitorSystem/dist/